@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

nav {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 2px;
}

img {
  width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
  color: #1a202c;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

.header__img--wrapper {
  width: calc(100% - 40%);
}

/* Navigation Section */

.nav__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  
}

.nav__link {
 font-size: 14px;
 font-weight: 600;
 padding-top: 4px;
 letter-spacing: 0.35px;
 border-bottom: 2px solid transparent;
 position: relative;
 transition: all 300ms;
 margin: 0 24px;
 text-decoration: none;
 color: #243e63;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
  color: #243e63;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  padding: 0 16px;
}

.nav__link:hover {
  text-decoration: underline #6415ff 2px;
  text-underline-offset: 6px;
  transition:all 300ms ease;
}

.nav__link--primary {
  margin: 0;
  margin-top: 2px;
  background-color: #6415ff;
  color: #ffffff;
  padding: 10px 32px;
  border-radius: 9999px;
  line-height: 1.5;
  width: auto;
  border: none;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #4b0fcc;
}

/* Header Section */

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.header__description {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  align-items: flex-start;
  gap: 16px;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  font-size: 16px;
  font-weight: 500;
  z-index: 1;
  transition: border-color 300ms ease;
  text-align: center;
  height: 60px;
}

.header__email--btn {
  position: absolute;
  right: 6px;
  top: 6px;
  bottom: 6px;
  padding: 0 24px;
  background-color: #6415ff;
  color: white;
  border: none;
  border-radius: 9999px;
  font-weight: 600;
  transition: background-color 300ms ease;
  font-size: 16px;
}

.header__email--btn:hover {
  background-color: #4b0fcc;
  text-decoration: none;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.input-wrapper input {
  width: 100%;
  padding: 16px 150px 16px 20px;
  border-radius: 9999px;
  border: 1px solid #e5e7eb;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  text-align: left;
  transition: border-color 300ms ease;
}

.header__img {
  width: 100%;
  max-width: 768px;
}

.header__customers--title {
  margin-top: 32px;
  margin-bottom: 12px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6;
  text-align: center;
}

.header__customers {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  align-items: center;
}

.header__customers--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.header__img--wrapper {
  width: calc(100% - 40%);
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

/* Media Queries */

@media (max-width: 1024px) {


  .header__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
  }

  .header__description, .header__img--wrapper {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  .header__description--para {
    margin: 20px 0;
  }

  .header__customers--title, .header__img--wrapper {
    margin-top: 48px;
  }

  .header__customers {
    padding-right: 0px;
  }
}

@media (max-width: 1280px) {
  h1 {
    font-size: 36px;
    color: #1a202c;
    line-height: 1.25;
  }

  .header__description--para {
    font-size: 16px;
  }
  
  .header__img {
    max-width: 1280px;
  }

  .header__img--wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
  }
}

@media (max-width: 640px) {
  .header__email--input {
    position: static;
    padding: 16px 0;
    padding-left: 32px;
    line-height: 1.5;
  }

  .header__email--btn {
    position: static;
    width: 100%;
    border-radius: 9999px;
    padding: 16px 0;
    margin-top: 12px;
    line-height: 1.5;
    margin-bottom: 16px;
  }

  .header__customers--title {
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-top: 40px;
    margin-bottom: 16px;
  }

  .header__customers {
    max-width: 70%;
  }

  .header__img--wrapper {
    margin-top: 40px;
  }
}

@media (min-width: 1025px) {
  .header__container {
    max-width: 1200px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding: 0 32px;
  }

  .header__description {
    width: 50%;
    padding: 0;
    align-items: flex-start;
  }

  .header__img--wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-top: 32px;
  }

  .header__customers--title {
    text-align: left;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .header__customers {
    margin: 0;
    max-width: 80%;
  }

  .header__img {
    max-width: 100%;
    height: auto;
  }

  .header__customers--wrapper {
    align-items: flex-start;
  }
}